#app{ 
  display: grid;
  grid-template-columns: 51.25% 48.75%; /*Determinamos que cada caixa dentro da tag pai ocupará 50% do espaço da tela*/

  height: 100vh; /*viewport heigth - é toda a a parte visível da nossa tela*/
  overflow: hidden;
}

main{
  overflow: auto; /*Utilizado para criar a barra de rolagem quando o conteúdo vazar*/
  padding: 4rem;

  .main-container{ 

    max-width: 33rem;
    margin-left: auto;

  }
  /*Estrutura conhecida como css nesting, consites em colocar um seletor dentro de outro seletor. Só é importante atentar-se a versão do navegador*/

  .back{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  h1{
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
}


aside{
  padding: 4rem;
  background-color: var(--surface-secondary);

  .aside-container{
    max-width: 31rem;

    & > img{ 
      margin-top: 2rem;
    }
    /*O & quer dizer que ele quer buscar o que está dento do .aside-container*/
  }

  h2{
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;

    strong{
      color: var(--text-highlight);
    }
  }
}

